@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600&display=swap');

body {
    background-image: linear-gradient(135deg, #161616, #161616), url(./Assets/jpeg-optimizer_3d-abstract-wave-pattern.jpg);
}

#FirstBox {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.963), rgba(0, 0, 0, 0.393)), url(./Assets/jpeg-optimizer_3d-abstract-wave-pattern.jpg);
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* #FirstBox img {
    height: 92px;
} */

#contactbtn {
    background-image: linear-gradient(90deg, rgba(255, 225, 0, 0.774), rgb(0, 0, 0));
}

.roundedbtn {
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
    color: white;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    text-decoration: none;
}

.roundedbtn:hover {
    color: #fff;
}

#secondBox {
    background: url(./Assets/jpeg-optimizer_yellow_Santa_Claus_wishing_background_is_black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: white;
    /* background-attachment: fixed; */
    background-position: center;
}

#secondBox h1 {
    margin-top: 170px;
    margin-bottom: 250px;
    margin-left: 200px;
    font-size: 35px;
    color: #FFD00D;
}

/* for glowing text  */
.glow {
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FFD00D, 0 0 40px #FFD00D, 0 0 50px #FFD00D, 0 0 60px #FFD00D, 0 0 70px #FFD00D;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #FFD00D, 0 0 40px #FFD00D, 0 0 50px #FFD00D, 0 0 60px #FFD00D, 0 0 70px #FFD00D, 0 0 80px #FFD00D;
    }
}

/* ------  */

.aboutBox {
    padding: 100px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.aboutBox p {
    text-align: center;
    color: white;
    font-family: 'Open Sans';
    font-size: 38px;
}


#serviceheading {
    color: white;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
}

.card-body {
    padding: 40px;
    justify-content: center;
}

.card-body div {
    padding: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 45px;
    background-color: #FFD00D;
    margin: 30px;
    text-align: center;
}

.card-body div h1 {
    font-weight: 700;
}

.ourworkBox img {
    border-radius: 40px;
}

.clickbtn {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.clickbtn:hover {
    background-color: #FFD00D;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.contactBox {
    background-image: linear-gradient(135deg, rgba(255, 207, 13, 0.952), rgba(255, 208, 13, 0.952)), url(./Assets/jpeg-optimizer_3d-abstract-wave-pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contactBox h1 {
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
    font-size: 85px;
}

.contactBox input,
.contactBox textarea {
    background-color: black;
    border-radius: 25px;
    width: 450px;
    border: 0;
    color: white;
    padding: 25px 25px 25px 25px;
}

.contactBox label {
    font-size: 20px;
    font-family: 'Open Sans'
}

.contactBox input {
    height: 50px;
    border-radius: 15px;
    padding: 5px 25px 5px 25px;
}

#sendBtn {
    width: unset;
    background-color: #fff;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.contactBox h5 {
    letter-spacing: 2px;
}

/* for mobile view */
@media only screen and (max-width: 990px) {

    /* #FirstBox img {
        height: 80px;
    } */

    #secondBox {
        background-attachment: unset;
        background-position: unset;
    }

    #secondBox h1 {
        margin-top: 20px;
        margin-bottom: 40px;
        margin-left: unset;
    }

    .aboutBox {
        padding: 30px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .aboutBox p {
        font-size: 20px;
    }

    .card-body div {
        padding: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
        border-radius: 45px;
        background-color: #FFD00D;
        margin: 30px;
        text-align: center;
    }


    .contactBox h1 {
        margin-left: unset;
        font-size: 45px;
    }

    .contactBox input,
    .contactBox textarea {
        width: 250px;
    }

    .contactBox label {
        font-size: 15px;
    }

}